@keyframes slideInFromBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

main{
    overflow: hidden;
}

.navbar{
    animation: slideInFromTop 2s ease-in-out;
}

.parallax-window {
    min-height: 50vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.parallax-window h1{
    color: white;
    margin-top: 2%;
    animation: slideInFromBottom 2s ease-in-out;
}

.slide-in{
    animation: slideInFromBottom 2s ease-in-out;
}

h3{
    color: rgb(124, 33, 40);
}
