.navbar{
    animation: slideInFromTop 2s ease-in-out;
}

h1, h5{
    color: rgb(124, 33, 40);
}

main{
    overflow-x: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.appear{
    animation: appear 2s ease-in-out;
}

.slide-top{
    animation: slideInFromBottom 2s ease-in-out;
}

.add-button, .edit-button{
    color: white;
    background-color: rgb(124, 33, 40);
    border-color: rgb(94, 3, 10);
}

.add-button:hover, .edit-button:hover, .add-button:focus, .edit-button:focus{
    color: white;
    background-color: rgb(154, 63, 70);
    border-color: rgb(124, 33, 40);
}
